<header class="header">
        <li class="nav">
            {{#if table}}

            <ul class="nav_link_active" href="/">Главная</ul>
            {{else}}
            <ul class="nav_link" href="/">Главная</ul>
            {{/if}}
            {{#if coupon}}
            <ul class="nav_link_active" href="/create_application">Записаться на ремонт</ul>
            {{else}}
            <ul class="nav_link" href="/create_application">Записаться на ремонт</ul>
            {{/if}}
            {{#if history}}
            <ul class="nav_link_active" href="/contacts">Контакты</ul>
            {{else}}
            <ul class="nav_link" href="/contacts">Контакты</ul>
            {{/if}}
            {{#if ratingcheck}}
            <ul class="nav_link_active" href="/price">Прайс-лист</ul>
            {{else}}
            <ul class="nav_link" href="/price">Прайс-лист</ul>
            {{/if}}

        </li>
        <div class="nav_right">
            {{#if ratingcheck}}
            <ul class="nav_link_active" href="/about">О нас</ul>
            {{else}}
            <ul class="nav_link" href="/about">О нас</ul>
            {{/if}}
            <p style="text-align: center; margin-left:50px; ">ПН - ВС 10:00 - 21:00 <br> Без выходных</p>
        </div>
       

</header>