<h1>Личный кабинет</h1>
{{#if massiv.length}}
<ul>
    {{#each massiv}}
    <li>
            <label>
                <span>{{phone_number}}</span>
                <span>{{device_type}}</span>
                <span>{{brand}}</span>
                <span>{{model}}</span>
                <span>{{defect}}</span>
                <span>{{comment}}</span>
             
            </label>
    </li>
    {{/each}}
</ul>
{{else}}
<h3>НЕТ ЗАЯВОК</h3>
{{/if}}
<a href="/adminCab">Только для админа</a>
<a href="/workerCab">Только для работника</a>
