<div class="main_container">
    <div class="main_left">
        <h1 class="main_page_header">Ремонт смартфонов по всей России</h1>
        <ul style="list-style-position: inside;">
            <li>Быстро<br></li>
            
            <li>Качественно</li>
            
            <li>Не дорого</li>
        </ul>
    </div>
    <div class="main_right">
        <img src="/service.jpg" width="750px" height="500px" alt="">
    </div>
</div>
















<h2>Create page</h2>

{{#if massiv.length}}
<ul>
    {{#each massiv}}
    <li>
        <form action="/complete" method="POST">
            <label>
                <span>{{phone_number}}</span>
                <span>{{device_type}}</span>
                <span>{{brand}}</span>
                <span>{{model}}</span>
                <span>{{defect}}</span>
                <span>{{comment}}</span>
             
                <button type="submit">Save</button>
            </label>
        </form>
    </li>
    {{/each}}
</ul>
{{else}}
<h3>НЕТ ЗАЯВОК</h3>
{{/if}}