<h2>Create page</h2>

{{#if massiv.length}}
<ul>
    {{#each massiv}}
    <li>
        <form action="/complete" method="POST">
            <label>
                {{#if completed}}
                <input type="checkbox" checked name="completed">
                <h5>{{name}}</h5>
                {{else}}
                <input type="checkbox" name="completed">
                <span>{{name}}</span>
                {{/if}}
                <input type="hidden" value="{{_id}}" name="id">


                <button type="submit">Save</button>
            </label>
        </form>
    </li>
    {{/each}}
</ul>
{{else}}
<h3>pustoi massiv</h3>
{{/if}}