<div class="main_container">
    <div class="main_left">
        <h1 class="main_page_header">Ремонт смартфонов по всей России</h1>
        <ul>
            <li>Быстро<br></li>
            
            <li>Качественно</li>
            
            <li>Не дорого</li>
        </ul>
    </div>
    <div class="main_right">
        <img src="/service.jpg" width="750px" alt="">
    </div>
</div>
















{{!-- <h2>Create page</h2>

{{#if massiv.length}}
<ul>
    {{#each massiv}}
    <li>
        <form action="/complete" method="POST">
            <label>
                {{#if completed}}
                <input type="checkbox" checked name="completed">
                <span>{{name}}</span>
                {{else}}
                <input type="checkbox" name="completed">
                <span>{{name}}</span>
                {{/if}}
                <input type="hidden" value="{{_id}}" name="id">


                <button type="submit">Save</button>
            </label>
        </form>
    </li>
    {{/each}}
</ul>
{{else}}
<h3>pustoi massiv</h3>
{{/if}} --}}